<div class="user-question">
<p><%= @question %></p>
<p>-<em>You</em></p>
</div>

<div class="coach-answer">
<p><%= @answer %></p>
<p>-<em>Your coach</em></p>
</div>

<div class="ask-button">
<%= link_to "Ask another question", ask_path %>
</div>
